*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
}

html{
    scroll-behavior: smooth;
}

/*
color pallete
white-color: #F0E3CA
dark-color: #1B1A17
semilight-color: #A35709
gold-color: #FF8303

*/

/*Navbar Styles*/
header{
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: #1B1A17;
}

header .navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text{
    color: #F0E3CA;
    font-size: 2rem;
    font-weight: 600;
}

.navbar .nav-menu{
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    color: #F0E3CA;
    font-size: 1.12rem;
    border-radius: 30px;
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover{
    color: #1B1A17;
    background-color: #FF8303;
}

.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
}


/*Styles for the whole webpage*/
.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;
}

.section-title{
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: 2rem;
}

.section-title::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: 8px;
    background: #FF8303;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.menu-button{
    width: 22px;
}

button{
    cursor: pointer;
    border: none;
    background: none;
}


/*Products Styling*/
.products-section{
    padding: 50px 0 100px;
    background: #F0E3CA;
}

.products-section .slider-wrapper{
    overflow: hidden;
    margin: 0 60px 50px;
}

.products-section .product{
    user-select: none;
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.products-section .product .product-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: 50%;
}

.products-section .product .name{
    margin-bottom: 16px;
    font-size: 1.2rem;
}

.products-section .product .descriptions{
    line-height: 25px;
}

.products-section .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    opacity: 1;
    background: #FF8303;
}

.products-section .swiper-slide-button{
    margin-top: -50px;
    color: #FF8303;
    transition: 0.3s ease;
}

.products-section .swiper-slide-button:hover{
    color: #1B1A17;
}

/*Mens Section Stylling*/
.mens-section{
    color: #F0E3CA;
    background: #1B1A17;
    padding: 50px 0 100px;
}

.mens-section .mens-list{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-content: space-between;
}

.mens-section .mens-list .mens-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
}

.mens-section .mens-list .mens-item .product-image{
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
}

.mens-section .mens-list .mens-item .name{
    margin: 12px 0;
    font-size: 1.5rem;
    font-weight: 600;
}


.mens-section .mens-list .mens-item .text{
    font-size: 1.2rem;
}

.mens-section .mens-list .mens-item .price{
    margin: 15px;
    font-weight: 400;
}

.mens-section .mens-list .mens-item .add-cart-btn{
    color: #F0E3CA;
    margin-top: 10px;
    background: transparent;
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 20px;
    border: 1px solid #FF8303;
    transition: 0.5s ease;
}

.mens-section .popup-view {
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.mens-section .popup-view.active {
    opacity: 1;
    visibility: visible;
}

.mens-section .popup-card {
    background: #F0E3CA;
    color: #1B1A17;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.mens-section .popup-card .info h2{
    margin: 15px;
}

.mens-section .popup-card .info p{
    margin-bottom: 20px;
}

.mens-section .popup-card .info button{
    padding: 13px;
    background: transparent;
    color: #1B1A17;
    border: 1px solid #FF8303;
    border-radius: 10px;
    transition: 0.3s ease;
}

.mens-section .mens-item .add-cart-btn:hover{
    background: #F0E3CA;
    color: #1B1A17;
    border: 1px solid #A35709;
}

.mens-section .popup-card .info button:hover{
    background: #1B1A17;
    color: #F0E3CA;
    text-decoration: underline;
    width: 100px;
}



/*womens Section Stylling*/
.womens-section{
    color: #1B1A17;
    background: #F0E3CA;
    padding: 50px 0 100px;
}

.womens-section .womens-list{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-content: space-between;
}

.womens-section .womens-list .womens-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
}

.womens-section .womens-list .womens-item .product-image{
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
}

.womens-section .womens-list .womens-item .name{
    margin: 12px 0;
    font-size: 1.5rem;
    font-weight: 600;
}


.womens-section .womens-list .womens-item .text{
    font-size: 1.2rem;
}

.womens-section .womens-list .womens-item .price{
    margin: 15px;
    font-weight: 400;
}

.womens-section .womens-list .womens-item .add-cart-btn{
    color: #1B1A17;
    margin-top: 10px;
    background: transparent;
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 20px;
    border: 1px solid #FF8303;
    transition: 0.5s ease;
}

.womens-section .popup-view {
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.womens-section .popup-view.active {
    opacity: 1;
    visibility: visible;
}

.womens-section .popup-card {
    background: #F0E3CA;
    color: #1B1A17;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.womens-section .popup-card .info h2{
    margin: 15px;
}

.womens-section .popup-card .info p{
    margin-bottom: 20px;
}

.womens-section .popup-card .info button{
    padding: 13px;
    background: transparent;
    color: #1B1A17;
    border: 1px solid #FF8303;
    border-radius: 10px;
    transition: 0.3s ease;
}

.womens-section .womens-item .add-cart-btn:hover{
    background: #1B1A17;
    color: #F0E3CA;
    border: 1px solid #A35709;
}

.womens-section .popup-card .info button:hover{
    background: #1B1A17;
    color: #F0E3CA;
    text-decoration: underline;
    width: 100px;
}

/*Simple Stylling*/

.simple-section{
    color: #F0E3CA;
    background: #1B1A17;
    padding: 50px 0 100px;
}

.simple-section .simple-list{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-content: space-between;
}

.simple-section .simple-list .simple-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
}

.simple-section .simple-list .simple-item .product-image{
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
}

.simple-section .simple-list .simple-item .name{
    margin: 12px 0;
    font-size: 1.5rem;
    font-weight: 600;
}


.simple-section .simple-list .simple-item .text{
    font-size: 1.2rem;
}

.simple-section .simple-list .simple-item .price{
    margin: 15px;
    font-weight: 400;
}

.simple-section .simple-list .simple-item .add-cart-btn{
    color: #F0E3CA;
    margin-top: 10px;
    background: transparent;
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 20px;
    border: 1px solid #FF8303;
    transition: 0.5s ease;
}

.simple-section .popup-view {
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.simple-section .popup-view.active {
    opacity: 1;
    visibility: visible;
}

.simple-section .popup-card {
    background: #F0E3CA;
    color: #1B1A17;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.simple-section .popup-card .info h2{
    margin: 15px;
}

.simple-section .popup-card .info p{
    margin-bottom: 20px;
}

.simple-section .popup-card .info button{
    padding: 13px;
    background: transparent;
    color: #1B1A17;
    border: 1px solid #FF8303;
    border-radius: 10px;
    transition: 0.3s ease;
}

.simple-section .simple-item .add-cart-btn:hover{
    background: #F0E3CA;
    color: #1B1A17;
    border: 1px solid #A35709;
}

.simple-section .popup-card .info button:hover{
    background: #1B1A17;
    color: #F0E3CA;
    text-decoration: underline;
    width: 100px;
}




/* Footer Stylling*/
.footer-section{
    padding: 20px 0;
    background: #1B1A17;
}

.footer-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link, .policy-link){
    color: #F0E3CA;
    transition: 0.3s ease;
}

.footer-section .social-link-list{
    display: flex;
    gap: 25px;
}

.footer-section .social-link-list .social-link{
    font-size: 1.5rem;
}

.footer-section .social-link-list .social-link:hover, .footer-section .policy-text .policy-link:hover{
    color: #FF8303;
}

/*Responsiveness of the Website at 1024px*/
@media screen and (max-width: 1024px){
    .mens-section .mens-list{
        gap: 60px;
    }

    .mens-section .mens-list .mens-item{
        width: calc(100% / 3 - 60px);
    }

    .womens-section .womens-list{
        gap: 60px;
    }

    .womens-section .womens-list .womens-item{
        width: calc(100% / 3 - 60px);
    }

    .simple-section .simple-list{
        gap: 60px;
    }

    .simple-section .simple-list .simple-item{
        width: calc(100% / 3 - 60px);
    }
}

/*Responsiveness of the Menu Box at 900px*/
@media screen and (max-width: 900px){

    body.show-mobile-menu header::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar :where(#menu-close-button, #menu-open-button){
        display: block;
        font-size: 1.3rem;
    }

    .navbar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;
        font-weight: 400;
        color: #1B1A17;
        align-items: center;
    }

    .navbar #menu-open-button{
        font-weight: 400;
        width: 20px;
        border-radius: 10%;
        color: #F0E3CA;
        align-items: center;
    }

    

    .navbar .nav-menu{
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background-color: #F0E3CA;
        transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu{
        left: 0;
    }

    .navbar .nav-menu .nav-link{
        color: #A35709;
        display: block;
        margin-top: 17px;
        font-size: 1.3rem;
    }

    .hero-section .section-content{
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero-section .hero-details :is(.subtitle, .description), .about-section .about-details, .contact-section .contact-form, .about-consec .about-consec-details,.about-consec2 .about-consec2-details, .about-consec3 .about-consec3-details{
        max-width: 100%;
    }

    .hero-section .hero-image-wrapper{
        max-width: 270px;
        margin-right: 0;
    }

    .about-section .section-content{
        gap: 70px;
        flex-direction: column-reverse;
    }

    .about-section .about-image-wrapper .about-image{
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

    .about-consec .section-content{
        gap: 70px;
        flex-direction: column-reverse;
    }

    .about-consec .about-image-wrapper .about-image{
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

    .about-consec2 .section-content{
        gap: 70px;
        flex-direction: column-reverse;
    }

    .about-consec2 .about-image-wrapper .about-image{
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

    .about-consec3 .section-content{
        gap: 70px;
        flex-direction: column-reverse;
    }

    .about-consec3 .about-image-wrapper .about-image{
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }


    .mens-section .mens-list{
        gap: 30px;
    }

    .mens-section .mens-list .mens-item{
        width: calc(100% / 2 - 30px);
    }

    .womens-section .womens-list .womens-item .product-image{
        max-width: 200px;
    }

    .womens-section .womens-list{
        gap: 30px;
    }

    .womens-section .womens-list .womens-item{
        width: calc(100% / 2 - 30px);
    }

    .womens-section .womens-list .womens-item .product-image{
        max-width: 200px;
    }

    .simple-section .simple-list{
        gap: 30px;
    }

    .simple-section .simple-list .simple-item{
        width: calc(100% / 2 - 30px);
    }

    .simple-section .simple-list .simple-item .product-image{
        max-width: 200px;
    }

    .category-section .category-list .category-item{
        width: calc(100% / 2 - 30px);
    }

    .contact-section .section-content{
        align-items: center;
        flex-direction: column-reverse;
    }
}

/*Responsiveness of the Website at 640px*/
@media screen and (max-width: 640px){
    .mens-section .mens-list{
        gap: 60px;
    }

    .mens-section .mens-list .mens-item{
        width: 100%;
    }

    .womens-section .womens-list{
        gap: 60px;
    }

    .womens-section .womens-list .womens-item{
        width: 100%;
    }

    .simple-section .simple-list{
        gap: 60px;
    }

    .simple-section .simple-list .simple-item{
        width: 100%;
    }

    .products-section .slider-wrapper{
        margin: 0 0px 30px;
    }

    .products-section .swiper-slide-button{
        display: none;
    }

    .category-section .category-list .category-item{
        width: calc(100% / 1 - 30px);
    }

    .footer-section .section-content{
        flex-direction: column;
        gap: 20px;
    }

}
